body {
  background-image:url('../images/epcot_bkg.png');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position: center 100px;
}

body * {
  font-family: 'Roboto Condensed', sans-serif;
}


.button {
  text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

header {
  background: #3898D8;
  padding: 1rem;
  color: #fff;
  position: relative;
}

header a.home {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

main {
  margin: 1rem 0;
}

#project-name {
  font-weight: bold;
  font-size: 3rem;
}

#project-description {
  font-size: 1.5rem;
  margin-top: 0.4rem;
}

table {
  background: transparent;
  margin: 1rem 0;
  width: 100%;
}

table .id-column {
  width: 5%;
}

table .label-column, table .title-column {
  width: 35%;
}

table .description-column {
  width: 35%;
}

table tr.even, table tr.alt, table tr:nth-of-type(even), table thead {
  background: rgba(220,220,245,0.4);
}

.admin-nav.inline-list > li > a {
  display: inline;
}

form .scrollable {
  max-height: 10rem;
  overflow: auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

form .scrollable .row {
  margin: 0;
}

form .scrollable input[type="checkbox"] {
  margin-bottom: 0;
}

form .scrollable [class*="block-grid-"] > li {
    padding: 0 0.5rem;
}